{% extends 'base.html.twig' %}

{% block title %}VTT index{% endblock %}

{% block body %}
    {% include 'commons/table-title.html.twig' with {'title': 'Vtts', 'chemin': 'vtt_crud_new'} %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Marque</th>
                <th>Modele</th>
                <th>Poids</th>
                <th>Image</th>
                <th>Suspension_avant</th>
                <th>Suspension_arriere</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vtt in vtts %}
            <tr>
                <td>{{ vtt.id }}</td>
                <td>{{ vtt.marque }}</td>
                <td>{{ vtt.modele }}</td>
                <td>{{ vtt.poids }}</td>
                <td>{{ vtt.image }}</td>
                <td>{{ vtt.suspensionAvant }}</td>
                <td>{{ vtt.suspensionArriere }}</td>
                {% include 'commons/table-actions.html.twig' with {
                    'confirm_string': 'Voulez-vous vraiment supprimer ce VTT?', 
                    'show_path': 'vtt_crud_show',
                    'edit_path': 'vtt_crud_edit',
                    'delete_path': 'vtt_crud_delete',
                    'entity_id': vtt.id
                    }
                %}
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun VTT trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
