{% extends 'base.html.twig' %}

{% block title %}Electric index{% endblock %}

{% block body %}
    {% include 'commons/table-title.html.twig' with {'title': 'Vélos électriques', 'chemin': 'electric_crud_new'} %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Marque</th>
                <th>Modele</th>
                <th>Poids</th>
                <th>Image</th>
                <th>Puissance</th>
                <th>Autonomie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for electric in electrics %}
            <tr>
                <td>{{ electric.id }}</td>
                <td>{{ electric.marque }}</td>
                <td>{{ electric.modele }}</td>
                <td>{{ electric.poids }}</td>
                <td>{{ electric.image }}</td>
                <td>{{ electric.puissance }}</td>
                <td>{{ electric.autonomie }}</td>
                <td>
                    <a href="{{ path('electric_crud_show', {'id': electric.id}) }}">show</a>
                    <a href="{{ path('electric_crud_edit', {'id': electric.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
