{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_start(registrationForm, {'attr': {'class': 'col-6'}}) }}
    {{ form_row(registrationForm.nom, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(registrationForm.prenom, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(registrationForm.username, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(registrationForm.password, {'attr': {'class': 'form-control'}}, {
        label: 'Password'
    }) }}
    {{ form_row(registrationForm.agreeTerms) }}
    {{ form_row(registrationForm.Valider, {'attr': {'class': 'btn btn-lg btn-primary'}}) }}
    {{ form_end(registrationForm) }}
{% endblock %}