{% extends 'base.html.twig' %}

{% block title %}Electric{% endblock %}

{% block body %}
<a href="{{ path('velos') }}" class="link"><i class="fas fa-arrow-left mr-2"></i>Retour</a>
    <h1>Vélo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ electric.id }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ electric.marque }}</td>
            </tr>
            <tr>
                <th>Modele</th>
                <td>{{ electric.modele }}</td>
            </tr>
            <tr>
                <th>Poids</th>
                <td>{{ electric.poids }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>
                    {% if electric.image %}
                        <img src="{{electric.image}}" title="Mon velo" alt="image_velo" class="table-image">
                    {% else %}
                        <img src="{{asset('build/images/logo.svg')}}" title="Mon velo" alt="image_velo" class="table-image">
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Puissance</th>
                <td>{{ electric.puissance }}</td>
            </tr>
            <tr>
                <th>Autonomie</th>
                <td>{{ electric.autonomie }}</td>
            </tr>
        </tbody>
    </table>

    {% include 'commons/show-form-action.html.twig' with {
        'confirm_string': 'Voulez-vous vraiment supprimer ce vélo', 
        'delete_path': 'electric_delete',
        'edit_path': 'electric_edit',
        'entity_id': electric.id
        }
    %}
{% endblock %}
