{% extends 'base.html.twig' %}

{% block title %}Velo index{% endblock %}

{% block body %}
    {# {% include 'commons/table-title.html.twig' with {'title': 'Vélos', 'chemin': 'velo_crud_new', {'type': 'vtt'}} %} #}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Marque</th>
                <th>Modele</th>
                <th>Poids</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for velo in velos %}
            <tr>
                <td>{{ velo.id }}</td>
                <td>{{ velo.marque }}</td>
                <td>{{ velo.modele }}</td>
                <td>{{ velo.poids }}</td>
                <td>{{ velo.image }}</td>
                {% include 'commons/table-actions.html.twig' with {
                    'confirm_string': 'Voulez-vous vraiment supprimer ce vélo?', 
                    'show_path': 'velo_crud_show',
                    'edit_path': 'velo_crud_edit',
                    'delete_path': 'velo_crud_delete',
                    'entity_id': velo.id
                    }
                %}
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun vélo trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('velo_crud_new' , {'type': 'vtt'}) }}">Create new VTT</a>
    <a href="{{ path('velo_crud_new' , {'type': 'elec'}) }}">Create new Electrique</a>
{% endblock %}
