{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}

    {% include 'commons/table-title.html.twig' with {'title': 'Utilisateurs'} %}

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Username</th>
                <th scope="col">Roles</th>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Email</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>
                {% if user.roles %}
                 {% for role in user.roles  %}
                  <span class="badge badge-info">{{role}}</span>
                 {% endfor %}
                 {% endif %}
                 </td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.email }}</td>
                <td class="table-actions">
                    <a class="btn" href="{{ path('user_crud_show', {'id': user.id}) }}"><i class="fas fa-eye"></i></a>
                    <a class="btn" href="{{ path('user_crud_edit', {'id': user.id}) }}"><i class="fas fa-edit"></i></a>
                    <form method="post" action="{{ path('user_crud_delete', {'id': user.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet utilisateur?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                        <button class="btn"><i class="far fa-trash-alt"></i></button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
