{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
<a href="{{ path('admin_dashboard') }}" class="link"><i class="fas fa-arrow-left mr-2"></i>Retour</a>
    {% include 'commons/table-title.html.twig' with {'title': 'Utilisateurs', 'chemin': 'user_crud_new'}%}

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Username</th>
                <th scope="col">Roles</th>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Email</th>
                <th scope="col">Amis</th>
                <th scope="col">actions</th>

            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>
                {% if user.roles %}
                 {% for role in user.roles  %}
                  <span class="badge badge-info">{{role}}</span>
                 {% endfor %}
                 {% endif %}
                 </td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.email }}</td>
                 <td>{{ user.amis|length }}
                {% include 'commons/table-actions.html.twig' with {
                    'confirm_string': 'Voulez-vous vraiment supprimer cet utilisateur?', 
                    'show_path': 'user_crud_show',
                    'edit_path': 'user_crud_edit',
                    'delete_path': 'user_crud_delete',
                    'entity_id': user.id
                    }
                %}
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun utilisateur trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
