{% extends 'base.html.twig' %}

{% block title %}Sortie index{% endblock %}

{% block body %}
    <h1>Toutes Mes Sorties</h1>

    <div class="d-flex flex-column">
    <table class="table">
        <thead>
            <tr>
{#                <th>Id</th>#}
                <th>Date de la sortie</th>
                <th>Status</th>
                <th>Nom</th>
                <th>Parcours</th>
                <th>Avec</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            {% if is_granted('view',sortie) %}
            <tr>
{#                <td>{{ sortie.id }}</td>#}
                <td>{{ sortie.dateSortie ? sortie.dateSortie|date('H:i:s d-m-y') : '' }}</td>
                <td>{{ sortie.status }}</td>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.parcours }}</td>
                <td>
                    {% for user in sortie.users %}
                    <p>{{user}}</p>
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('sortie_show', {'id': sortie.id}) }}">show</a>
                    <a href="{{ path('sortie_edit', {'id': sortie.id}) }}">edit</a>
                </td>
            </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sortie_new') }}">Create new</a>

    <div class="d-flex">
    <div class="w-100 bgcolor-brow-primary rounded  p-2 mr-2  h-100 pointer" onclick="location.href='/parcours'">
        <h2>Gérer les parcours</h2>
    </div>
    <div class="w-100 bgcolor-red-primary rounded  p-2  h-100 pointer" onclick="location.href='/sommet'">
        <h2>Gérer les sommets</h2>
    </div>
    </div>
    </div>
{% endblock %}
