{% extends 'base.html.twig' %}

{% block title %}Parcours{% endblock %}

{% block body %}
<a href="{{ path('parcours_index') }}" class="link"><i class="fas fa-arrow-left mr-2"></i>Retour</a>

    <h1>Parcours</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ parcour.id }}</td>
            </tr>
            <tr>
                <th>Distance</th>
                <td>{{ parcour.distance }}</td>
            </tr>
            <tr>
                <th>Difficulte</th>
                <td>{{ parcour.difficulte }}</td>
            </tr>
            <tr>
                <th>Passe par les sommets</th>
                <td>
                {% for sommet in parcour.sommet %}
                    <p>{{sommet.nom}}({{sommet.altitude}}m)</p>
                    {% endfor %}
                    </td>
            </tr>
        </tbody>
    </table>

    {% include 'commons/show-form-action.html.twig' with {
        'confirm_string': 'Voulez-vous vraiment supprimer ce parcours ?', 
        'delete_path': 'parcours_delete',
        'edit_path': 'parcours_edit',
        'entity_id': parcour.id
        }
    %}
{% endblock %}
