{% extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block body %}
<a href="{{ path('sortie_crud_index') }}" class="link"><i class="fas fa-arrow-left mr-2"></i>Retour</a>

    <h1>Sortie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sortie.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ sortie.nom }}</td>
            </tr>
            <tr>
                <th>Date_sortie</th>
                <td>{{ sortie.dateSortie ? sortie.dateSortie|date('d/m/Y à H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ sortie.status == 1 ? 'Programmée' : 'Terminée'  }}</td>
            </tr>
        </tbody>
    </table>

    {% include 'commons/show-form-action.html.twig' with {
        'confirm_string': 'Voulez-vous vraiment supprimer cette sortie ?', 
        'delete_path': 'sortie_crud_delete',
        'edit_path': 'sortie_crud_edit',
        'entity_id': sortie.id
        }
    %}{% endblock %}
