<!DOCTYPE html>
<html class="h-100">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bike App{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
             {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="d-flex flex-column h-100">
    <nav class="header-bar navbar navbar-light bg-light">
        <div class="container d-flex align-items-center">
            <div class="d-flex justify-self-start align-items-center">
                <a href="{{path('home')}}" class="navbar-title">
                <img src="{{asset('build/images/logo.svg')}}" title="Mon logo" alt="Logo vélo"class="navbar-logo">
                <span>Bike App</span>
                </a>
            </div>
            <div class="navbar-actions ml-auto d-flex align-items-center">
            {% if app.user %}
                <h5 class="my-0 mr-2 h-100">{{ app.user.username }}</h5>
                <a class="btn btn-sm btn-outline-secondary" href="{{ path('app_logout') }}">Déconnexion</a>

            {% else %}
                <a class="btn btn-sm btn-outline-secondary mr-2" href="{{ path('app_login') }}" >Connexion</a>
                <a class="btn btn-sm btn-outline-secondary" href="{{ path('app_register') }}">Inscription</a>
            {% endif %}
            </div>
        </div>
    </nav>
        <div class="d-flex flex-column container my-5 h-100">
            {% set url = app.request.attributes.get('_route')  %}
            {% if 'crud' in url or 'admin' in url %}
                {% include 'commons/admin-nav.html.twig' %}
            {% endif %}
            {% block body %}
            {% endblock %}
        </div>

    </body>
</html>
