{% extends 'base.html.twig' %}

{% block title %}Bike App Dashboard{% endblock %}

{% block body %}

    <h1>Bike App Dashboard</h1>

    <div class="row">
        <div class="col-4 d-flex align-items-stretch">
            <div class="card text-center user-card">
                <div class="card-header">Utilisateurs<i class="ml-2 fas fa-users"></i></div>
                <div class="card-body">
                    <h5 class="card-title">{{ users|length}} utilisateurs</h5>
                    <a href="{{ path('user_crud_new') }}" class="btn btn-outline-primary btn-icon">Ajouter<i class="fas fa-plus"></i></a>
                    <a href="{{ path('user_crud_index') }}"class="btn btn-outline-primary btn-icon">Voir<i class="fas fa-eye"></i></a>
                </div>
            </div>
        </div>
        <div class="col-4 d-flex align-items-stretch">
            <div class="card text-center user-card">
                <div class="card-header">Velo<i class="ml-2 fas fa-bicycle"></i></div>
                <div class="card-body">
                    <h5 class="card-title">{{ velo|length}} velos</h5>
                    {# <a href="{{ path('velo_crud_new') }}" class="btn btn-outline-primary btn-icon">Ajouter<i class="fas fa-plus"></i></a> #}
                    <a href="{{ path('velo_crud_index') }}"class="btn btn-outline-primary btn-icon">Voir<i class="fas fa-eye"></i></a>
                </div>
            </div>
        </div>
        <div class="col-4 d-flex align-items-stretch">
            <div class="card text-center user-card">
                <div class="card-header">Parcours<i class="ml-2 fas fa-route"></i></div>
                <div class="card-body">
                    <h5 class="card-title">{{ parcours|length}} parcours</h5>
                    <a href="{{ path('parcours_crud_new') }}" class="btn btn-outline-primary btn-icon">Ajouter<i class="fas fa-plus"></i></a>
                    <a href="{{ path('parcours_crud_index') }}" class="btn btn-outline-primary btn-icon">Voir<i class="fas fa-eye"></i></a>
                </div>
            </div>
        </div>
        <div class="col-4 d-flex align-items-stretch">
            <div class="card text-center user-card">
                <div class="card-header">Sommets<i class="ml-2 fas fa-mountain"></i></div>
                <div class="card-body">
                    <h5 class="card-title">{{ sommets|length}} sommets</h5>
                    <a href="{{ path('sommet_crud_new') }}" class="btn btn-outline-primary btn-icon">Ajouter<i class="fas fa-plus"></i></a>
                    <a href="{{ path('sommet_crud_index') }}"class="btn btn-outline-primary btn-icon">Voir<i class="fas fa-eye"></i></a>
                </div>
            </div>
        </div>
        <div class="col-4 d-flex align-items-stretch">
            <div class="card text-center user-card">
                <div class="card-header">Sortie<i class="ml-2 fas fa-map-marked-alt"></i></div>
                <div class="card-body">
                    <h5 class="card-title">{{ sorties|length}} sorties</h5>
                    <a href="{{ path('sortie_crud_new') }}" class="btn btn-outline-primary btn-icon">Ajouter<i class="fas fa-plus"></i></a>
                    <a href="{{ path('sortie_crud_index') }}"class="btn btn-outline-primary btn-icon">Voir<i class="fas fa-eye"></i></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
