<nav class="navbar navbar-light px-0">
    <div class="navbar-nav flex-row">
      <a class="nav-item nav-link mr-2" href="{{ path('admin_dashboard') }}">Dashboard</a>
      <a class="nav-item nav-link mr-2" href="{{ path('user_crud_index') }}">Utilisateurs</a>
      <a class="nav-item nav-link mr-2" href="{{ path('velo_crud_index') }}">Vélos</a>
      <a class="nav-item nav-link mr-2" href="{{ path('parcours_crud_index') }}">Parcours</a>
      <a class="nav-item nav-link mr-2" href="{{ path('sommet_crud_index') }}">Sommets</a>
      <a class="nav-item nav-link mr-2" href="{{ path('sortie_crud_index') }}">Sorties</a>
      <a class="nav-item nav-link mr-2" href="{{ path('home') }}">Accueil site</a>
    </div>
</nav>