<td class="table-actions">
    <a class="btn" href="{{ path(show_path, {'id': entity_id}) }}"><i class="fas fa-eye"></i></a>
    <a class="btn" href="{{ path(edit_path, {'id': entity_id}) }}"><i class="fas fa-edit"></i></a>
    <form 
        method="post" 
        action="{{ path(delete_path, {'id': entity_id}) }}" 
        onsubmit="return confirm('{{confirm_string}}');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ entity_id) }}">
        <button class="btn"><i class="far fa-trash-alt"></i></button>
    </form>
</td>