{% extends 'base.html.twig' %}

{% block title %}Mes vélos{% endblock %}

{% block body %}
    <h1 class="d-flex">
    Vélos
    <span class="d-flex align-items-center ml-auto">
    <a class="d-flex align-items-center ml-auto table-title text-secondary mr-2" href="{{ path('vtt_new') }}"><i class="fas fa-plus-circle mr-2"></i> Ajouter VTT</a>
    <a class="d-flex align-items-center ml-auto table-title text-secondary" href="{{ path('electric_new') }}"><i class="fas fa-plus-circle mr-2"></i> Ajouter électrique</a> 
    </span>
    </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Type</th>
                <th>Marque</th>
                <th>Modele</th>
                <th>Poids</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for velo in velos %}
            <tr>
                <td>{{ velo.id }}</td>
                <td>
                    {% if velo.image %}
                        <img src="{{velo.image}}" title="Mon velo" alt="image_velo" class="table-image">
                    {% else %}
                        <img src="{{asset('build/images/logo.svg')}}" title="Mon velo" alt="image_velo" class="table-image">
                    {% endif %}
                </td>
                <td>{{velo.getClass(velo)}}</td>
                <td>{{ velo.marque }}</td>
                <td>{{ velo.modele }}</td>
                <td>{{ velo.poids }}</td>
                {% include 'commons/table-actions.html.twig' with {
                    'confirm_string': 'Voulez-vous vraiment supprimer ce vélo?', 
                    'show_path': velo.getClass(velo) | lower ~'_show',
                    'edit_path': velo.getClass(velo) | lower ~'_edit',
                    'delete_path': velo.getClass(velo) | lower ~'_delete',
                    'entity_id': velo.id
                    }
                %}
            </tr>
                       

        {% else %}
            <tr>
                <td colspan="6">Aucun vélo trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
