{% extends 'base.html.twig' %}

{% block title %}VTT{% endblock %}

{% block body %}
<a href="{{ path('velos') }}" class="link"><i class="fas fa-arrow-left mr-2"></i>Retour</a>
    <h1>Vélo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vtt.id }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ vtt.marque }}</td>
            </tr>
            <tr>
                <th>Modele</th>
                <td>{{ vtt.modele }}</td>
            </tr>
            <tr>
                <th>Poids</th>
                <td>{{ vtt.poids }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>
                    {% if vtt.image %}
                        <img src="{{vtt.image}}" title="Mon velo" alt="image_velo" class="table-image">
                    {% else %}
                        <img src="{{asset('build/images/logo.svg')}}" title="Mon velo" alt="image_velo" class="table-image">
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Suspension_avant</th>
                <td>{{ vtt.suspensionAvant }}</td>
            </tr>
            <tr>
                <th>Suspension_arriere</th>
                <td>{{ vtt.suspensionArriere }}</td>
            </tr>
        </tbody>
    </table>


    {% include 'commons/show-form-action.html.twig' with {
        'confirm_string': 'Voulez-vous vraiment supprimer ce vélo ?', 
        'delete_path': 'vtt_delete',
        'edit_path': 'vtt_edit',
        'entity_id': vtt.id
        }
    %}
{% endblock %}
