{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<a href="{{ path('user_index') }}" class="link"><i class="fas fa-arrow-left mr-2"></i>Retour</a>

 <h1>Utilisateur : {{ user.username }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>
                {% if user.roles %}
                 {% for role in user.roles  %}
                  <span class="badge badge-info">{{role}}</span>
                 {% endfor %}
                 {% endif %}
                 </td>
                 </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ user.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Amis</th>
                <td>
                {% if user.amis %}
                 {% for ami in user.amis  %}
                  <span>{{ami.username}},&nbsp;</span>
                 {% endfor %}
                 {% endif %}
                 </td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex align-items-center">
        {% if (is_granted('ROLE_ADMIN'))%}
            <a class="btn btn-outline-primary" href="{{ path('user_crud_edit', { 'id': user.id}) }}">Modifier</a> 
        {% endif %}
    </div>
{% endblock %}
